<%- include('partials/header') %>
<nav>
  <ul>
    <li><a href="/books/addBook">Add a book</a></li>
    <li><a href="/books/updateBook">Update a book</a></li>
    <li><a href="/books/deleteBook/:key">Delete a book</a></li>
    <!-- <li><a href="/books/borrowBook">User Borrow book</a></li> -->
    <li><a href="/users/viewUsers">View all users</a></li>
  </ul>
  <ul>
    <li>
      <a href="/users/logout">Logout</a>
    </li>
  </ul>
</nav>

<body>
  <div class="container">
    <h2>Admin Home</h2>
  </div>
</body>

<%- include('partials/footer') %>
