<%- include('partials/header') %>

<h1>Admin Dashboard</h1>

<nav>
  <ul>
    <li><a href="/books/addBook/:key">Add a book</a></li>
    <li><a href="/books/updateBook/:key">Update a book</a></li>
    <li><a href="/books/deleteBook/:key">Delete a book</a></li>
    <li><a href="">View all reservations</a></li>
    <li><a href="">View all transactions</a></li>
    <li><a href="/users/viewUsers">View all users</a></li>
  </ul>
  <ul>
    <li>
      <a href="/users/logout">Logout</a>
    </li>
  </ul>
</nav>

<body></body>

<%- include('partials/footer') %>
