<%- include('partials/header') %>
<nav>
  <ul>
    <li><a href="users/login">Login</a></li>
    <li><a href="users/signup">Register</a></li>
  </ul>
</nav>
<h1>Welcome to the Library Management System</h1>
<p>Discover a world of books and manage your account easily.</p>

<%- include('partials/footer') %>
