<%- include('partials/header') %>

<h1>Reset Password</h1>

<form action="" method="post">
  <label for="password">New Password:</label>
  <input type="password" id="password" name="password" required />
  <br />
  <input type="submit" value="Reset Password" />
</form>

<%- include('partials/footer') %>
