<%- include('partials/header') %>

<section class="form--container">
  <form>
    <h1>Sign Up</h1>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required />
    <br />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
    <br />
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" required />
    <br />
    <label for="role">Role:</label>
    <select id="role" name="role" required>
      <option value="admin">Admin</option>
      <option value="user">User</option>
    </select>
    <br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <br />
    <input type="submit" value="Sign Up" class="submit--btn" />

    <p>Already have an account?</p>
    <a href="/users/login">Login</a>
  </form>
</section>

<script src="/js/signup.js"></script>
<%- include('partials/footer') %>
