<% - include('partials/header') %>

<p>User Dashboard</p>

<nav>
  <ul>
    <li><a href="">Borrow a book</a></li>
    <li><a href="/user/reservations">Reservations</a></li>
    <li><a href="/user/transactions">Transactions</a></li>
    <li><a href="/user/logout">Logout</a></li>
  </ul>
</nav>

<%- include('partials/footer') %>
