<%- include('partials/header') %>
<nav class="container">
  <div class="app--name">
    <h2>Spiral Library</h2>
  </div>
  <ul>
    <li><a href="users/login">Login</a></li>
    <li><a href="users/signup">Register</a></li>
  </ul>
</nav>
<header class="container">
  <div>
    <h1>Welcome to the Library Management System</h1>
    <p>Discover a world of books and manage your account easily.</p>
    <div class="btns">
      <button class="btn--ghost">Browse</button> &nbsp; &nbsp;
      <button class="btn--full">Dashboard &rarr;</button>
    </div>
  </div>
</header>

<%- include('partials/footer') %>
