<%- include('partials/header') %>

<section class="form--container--login">
  <form class="login--form">
    <h1>Login</h1>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
    <br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />

    <br />
    <input type="submit" value="Login" class="submit--btn" />
    <br />
    <div class="links--container">
      <a href="/users/forgot-password">forgot password</a>

      <br />
      <a href="/users/signup">create account</a>
    </div>
  </form>
</section>
<script src="/js/loginDom.js"></script>
<%- include('partials/footer') %>
