<%- include('partials/header') %>

<section class="form--container">
  <form action="" method="post">
    <h1>Reset Password</h1>
    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" required />
    <br />
    <input type="submit" value="Reset Password" />
  </form>
</section>

<%- include('partials/footer') %>
